.Form
  = render partial: 'lessons/header'
  .FormBox
    %h2 ログイン
    = link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post
    = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post
    = form_for(@user, as: resource_name, url: user_session_path) do |f|
      .FormBox__content
        = f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: 'FormBox__field'
      .FormBox__content
        = f.password_field :password, placeholder: "パスワード", class: 'FormBox__field'
      .FormBox__actions
        = f.submit "Log in", class: 'FormBox__btn'
  = render partial: 'lessons/footer'
